

<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col text-center">
            <h1>Library Application</h1>
        </div>
    </div>

    <!--Subtitle-->
    <div class="row">
        <div class="col text-center">
            <h4>Login in or sign up below to continue</h4>
        </div>
    </div>

    <!--Make the login form here-->
    <div class="row">
        <div class="col text-center">
            <h1>This is where the sign in form will go</h1>

        </div>
    </div>


    <!--make a link to a sign in page here that will get the necessary info from the user-->
    <div class="row">
        <div class="col text-center">
            <h1>Registration LInks Below</h1>
            <a asp-action="Register" asp-controller="Home">Not a member? Register for a card and account here</a>
        </div>
    </div>

</div>
