
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Login Page Is Here</h1>

<!--Add the bootstrap scaffolding then do an employee login-->
<!--only add a login form and place the create new employee form in there so only registered employees can access -->

